body {
    font-family: Verdana;

}

.highlight {
    background-color: blue;
}
 
.lowScore {
    color: red;
}

.border{
    border-color: blue;
}

.modal-body {
    background-color: lightskyblue;

}